{% extends 'base.html.twig' %}

{% block body %}


    <div class="content">
        <div class="container">
            <div class="case">
                <div class="row">
                    <div class="col-md-6 offset-md-3"><img class="image-profil"
                                                           src={{ asset('build/images/image2_accueil.5c0b4f14.jpg') }} alt="avatar">
                    </div>
                </div>
                <div class="row details-profils">

                        <p>Pseudo: MartinMatin</p>
                        <p>Mail: Arthur@arthur.fr</p>
                </div>


                <div class="row details-profils">

                        <p>Nom: Arthur</p>
                        <p>Prénom: Thomson</p>
                        <p>Adresse: 36 mes couilles au bord de l'eau </p>
                        <p>Code postal: 76 000</p>
                        <p>Ville: Rouen</p>
                        <p>Mot de passe: 39484983wjfsdf</p>
                </div>

            </div>

            <div class="case"></div>
        </div>
    </div>


{% endblock %}
