{% extends 'base.html.twig' %}

{% block body %}

    <div class="content">
        <div class="container">
            <div class="case">
                <div class="row">
                    <div class="col">
                        <h3>Votre profil:</h3>
                    </div>
                </div>
                <div class="row espacement-ligne">
                    <div class="col-6">
                        <img class="image-entreprise" src={{ asset('build/images/image2_accueil.5c0b4f14.jpg') }}>
                    </div>
                    <div class="col-6">
                        <h3>Garderie de l'année</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}