{% extends 'base.html.twig' %}

{% block body %}

    <div class="content">
        <div class="container">
            <div class="case case-entreprise">
                <div class="row">
                    <div class="col">
                        <h3>Votre profil:</h3>
                    </div>
                </div>
                <div class="row espacement-ligne">
                    <div class="col">
                        <img class="image-entreprise" src={{ asset('build/images/image2_accueil.5c0b4f14.jpg') }}>
                    </div>
                    {#<div class="col desc-entreprise">
                        <h3>Garderie de l'année</h3>
                        <div class="alignement-gauche">
                            <p>
                                Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aperiam aut cumque delectus dolor, ea eos, est exercitationem molestiae necessitatibus
                                nostrum officiis quibusdam quo, repellat tempora voluptatum! Aliquid pariatur sapiente
                                ullam?
                            </p>
                        </div>
                    </div>#}
                </div>
                <div class="row espacement-ligne alignement-gauche">
                    <div class="col">
                        <h3>Garderie de l'année</h3>
                        <div class="alignement-gauche">
                            <p>
                                Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aperiam aut cumque delectus dolor, ea eos, est exercitationem molestiae necessitatibus
                                nostrum officiis quibusdam quo, repellat tempora voluptatum! Aliquid pariatur sapiente
                                ullam?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row espacement-ligne">
                    <div class="col">
                        <h3>Informations:</h3>
                    </div>
                </div>
                <div class="row espacement-ligne">
                    <div class="col">
                        <p><span>Localisation: </span> Seine-Maritime</p>
                    </div>
                    <div class="col">
                        <p><span>Capacité d'accueil: </span>30 enfants</p>
                    </div>
                    <div class="col">
                        <p><span>Horaires: </span>8h - 18h</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}