{% extends 'base.html.twig' %}

{% block body %}

<h3>Demande de souscription de {{ name }}</h3>

    <div class="container">
        <div class="content">
            <div class="row">
                <p>Nom de l'entreprise {{ entreprises_nom }}</p>
                <p>Effectifs de l'entreprises: {{ entreprises_effectifs }} </p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>

            </div>
        </div>
    </div>


{% endblock %}