@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@import "~bootstrap/dist/css/bootstrap-reboot.min.css";

body {
	background-color: rgba(241, 203, 255, 0.3);
}

.image1 {
	background: url('../img/image1_accueil.jpg') center no-repeat;
	-webkit-background-size: cover;
	background-size: 80%;
}

.image2 {
	background: url('../img/image2_accueil.jpg') center no-repeat;
	-webkit-background-size: cover;
	background-size: 80%;
}