/*
bleu: rgb(201, 201, 255); #C9C9FF; hover #7575FF;
mauve: rgb(241, 203, 255); #F1CBFF; hover #E497FF;
*/
@import url(~bootstrap/dist/css/bootstrap.min.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

html,
body {
    color: #555;
    font-weight: 300;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*------------------------------------------------*/
/* HEADER */
/*------------------------------------------------*/

header {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.navbar {
    padding: 20px 0;
}

.navbar-brand {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.7em;
    color: red;
}

.nav-item {
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link
{
    background: lime;
    color: black;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    background: lime;
    padding: 5px 15px;
}

.banner h2 {
    margin:1em 0 0;
    padding: 0;
    font-size: 1.5em;
    line-height: 1.5;
    color: #111;
}

.banner {
    position: relative;
    background-image: url("../img/imageaccueil.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
}

.btnD1 {
    display: inline-block;
    margin: 1em 0 0;
    background: #ff2670;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
}

.btnD1:hover {
    color: hotpink;
    text-decoration: none;
}

.navbar-light .navbar-toggler {
    border: none;
    color: #fff;
    border: 2px solid coral;
    border-radius: 0;
    outline: none;
}

.navbar-collapse {
    background: blue;
}

@media (max-width: 768px) {
    .banner {

        padding: 200px 0;
    }

    .banner h2 {
        font-size: 1.2em;
    }
}
