{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <div class="container">
            <h2>{{ date }}</h2>
            <table class="calendrier_table">
                <tr>
                    {% for joursemaine in jourssemaines %}
                        <th>
                            {{ joursemaine }}
                        </th>
                    {% endfor %}
                </tr>
                {% for i in 1..nbsemaines %}
                <tr>
                    {% for jour in jours %}
                        <td>
                            {{ jour.0 }}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}