{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <div class="container">
            <h2>{{ date }}</h2>
            <table class="calendrier_table">
                {% for i in 1..nbsemaines %}
                <tr>
                    {% for joursemaines in jourssemaines %}
                    <td>
                        {{ joursemaines }} <br>
                        {{ jours }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}