{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <div class="d-flex flex-row align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <span class="display-1 d-block">Erreur 404</span>
                        <div class="mb-4 lead">La page que vous cherchez est introuvable...</div>
                        <img alt="gif de l'erreur 404" src={{ asset('build/images/404.gif') }}>
                        <br>
                        <a href="{{ path('landing') }}" class="btn btn-link">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
