{% extends 'base.html.twig' %}

{% block body %}

    {#<section id="content1-3" class="content1-3">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-5">#}
                    {#<div class="about-content">#}
                        {#<h1 class="content-title">Welcome To Eden Builder</h1>#}
                        {#<p>Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Haccusamus terry richardson ad squid. pwolf moon officia aute, non cupidatat skateboard. Wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt cusamus terry richardson ad squid.</p>#}

                        {#<div class="text-left">#}
                            {#<a href="#" class="btn btn-info button">Get Started</a>#}
                            {#<a href="#" class="btn btn-success button">Download</a>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-7">#}
                    {#<div><img class="img-responsive" src="images/about-us.png" alt="#"></div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}


    {#<section id="content1-4" class="content1-4">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-7">#}
                    {#<div><img class="img-responsive" src="" alt="#"></div>#}
                {#</div>#}
                {#<div class="col-md-5">#}
                    {#<div class="about-content">#}
                        {#<h1 class="content-title">Welcome To Eden Builder</h1>#}
                        {#<p>Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Haccusamus terry richardson ad squid. pwolf moon officia aute, non cupidatat skateboard. Wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt cusamus terry richardson ad squid.</p>#}

                        {#<div class="text-left">#}
                            {#<a href="#" class="btn btn-info button">Get Started</a>#}
                            {#<a href="#" class="btn btn-success button">Download</a>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}


{% endblock %}