<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SucesMonBonbon{% endblock %}</title>
        {% block stylesheets %}

            <link href={{ asset('build/app.css') }} rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

        {% endblock %}
    </head>
    <body>

        <div class="wrapper">
            <header>
                <nav>
                    <div class="menu-icon">
                        <i class="fa fa-bars fa-2x"></i>
                    </div>
                    <div class="logo">logo</div>
                    <div class="menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Oui</a></li>
                            <li><a href="#">Non</a></li>
                            <li><a href="#">Allo</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
            <div class="content"><p>,jcfjszoifhjoszhffezfrueiszghruizghfrueizfgeizgcvfeizvgiezvgezvezvgygezvezvyez</p></div>
        </div>

        {% block body %} {% endblock %}

        {#{% include('footer.html.twig') %}#}

        <!-- Jquery needed -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src={{ asset('build/app.js') }}></script>

            <script>
                //menu toggle-button
                $(document).ready(function(){
                    $(".menu-icon").on("click", function () {
                        $("nav ul").toggleClass("showing");
                    });
                });

                //scrolling effect
                $(window).on("scroll", function () {
                    if($(window).scrollTop()) {
                        $('nav').addClass('black');
                    }
                    else {
                        $('nav').removeClass('black');
                    }
                });
            </script>


    </body>
</html>
