{% set nomProjet = 'Kidsery' %}

<!-- Footer -->

<footer class="page-footer font-small blue pt-4">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">{{ nomProjet }}</h5>
                <p><span class="underline" >Adresse:</span> 24 Place Saint Marc - 76000 Rouen<br>
                <span class="underline" >Mail:</span> contact@kidsery.fr<br>
                <span class="underline" >Téléphone:</span> 02 35 44 21 95</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Liens utiles</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Conditions générales d'utilisation</a>
                    </li>
                    <li>
                        <a href="#!">Vos informations personnelles</a>
                    </li>
                    <li>
                        <a href="#!">Cookies</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase"></h5>
                <br>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Contact</a>
                    </li>
                    <li>
                        <a href="#!">Autres services</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright : {{ nomProjet }}</div>
    <!-- Copyright -->
</footer>
<!-- Footer -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src={{ asset('build/app.js') }}></script>


{# feature/payment #}

<script src="https://js.stripe.com/v3/"></script>

<script>
// Create a Stripe client.
var stripe = Stripe('pk_test_tDiugqSqs5gDTHKk0Db2HlHO00snQdHmhy');

  var elements = stripe.elements({
    fonts: [
      {
        cssSrc: "https://rsms.me/inter/inter-ui.css"
      }
    ],
    // Stripe's examples are localized to specific languages, but if
    // you wish to have Elements automatically detect your user's locale,
    // use `locale: 'auto'` instead.
    locale: window.__exampleLocale
  });

  /**
   * Card Element
   */
  var card = elements.create("card", {
    style: {
      base: {
        color: "#32325D",
        fontWeight: 500,
        fontFamily: "Inter UI, Open Sans, Segoe UI, sans-serif",
        fontSize: "16px",
        fontSmoothing: "antialiased",

        "::placeholder": {
          color: "#CFD7DF"
        }
      },
      invalid: {
        color: "#E25950"
      }
    }
  });

  card.mount("#example4-card");

  /**
   * Payment Request Element
   */
  var paymentRequest = stripe.paymentRequest({
    country: "US",
    currency: "usd",
    total: {
      amount: 2000,
      label: "Total"
    }
  });
  paymentRequest.on("token", function(result) {
    var example = document.querySelector(".example4");
    example.querySelector(".token").innerText = result.token.id;
    example.classList.add("submitted");
    result.complete("success");
  });

  var paymentRequestElement = elements.create("paymentRequestButton", {
    paymentRequest: paymentRequest,
    style: {
      paymentRequestButton: {
        type: "donate"
      }
    }
  });

  paymentRequest.canMakePayment().then(function(result) {
    if (result) {
      document.querySelector(".example4 .card-only").style.display = "none";
      document.querySelector(
        ".example4 .payment-request-available"
      ).style.display =
        "block";
      paymentRequestElement.mount("#example4-paymentRequest");
    }
  });

  registerElements([card, paymentRequestElement], "example4");
})();
</script>




<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>


<script>
    //menu toggle-button
    $(document).ready(function () {
        $(".menu-icon").on("click", function () {
            $("nav ul").toggleClass("showing");
        });
    });

    /*//scroll
    $(window).on("scroll", function () {
        if($(window).scrollTop()) {
            $('nav').addClass('scrolled');
                $('.logo').addClass('scrolled');
            }
            else {
                $('nav').removeClass('scrolled');
                $('.logo').removeClass('scrolled');
            }
        })*/


</script>
<script>
    //modal inscription
    let modal = null;

    const openModal = function (e) {
        e.preventDefault();
        const target = document.querySelector(e.target.getAttribute('href'));
        target.style.display = null;
        target.setAttribute('aria-hidden', 'false');
        target.setAttribute('aria-modal', 'true');
        modal = target;
        modal.addEventListener('click', closeModal);
        modal.querySelector('.modal-js-close').addEventListener('click', closeModal);
        modal.querySelector('.modal-js-stop').addEventListener('click', stopPropagation);

    };

    const closeModal = function (e) {
        if(modal === false) return;
        e.preventDefault();
        modal.style.display = 'none';
        modal.setAttribute('aria-hidden', 'true');
        modal.setAttribute('aria-modal', 'false');
        modal.removeEventListener('click', closeModal);
        modal.querySelector('.modal-js-close').removeEventListener('click', closeModal);
        modal = null;
    };

    const stopPropagation = function(e) {
        e.stopPropagation();
    };

    document.querySelectorAll('.modal-js').forEach(a => {
        a.addEventListener('click', openModal);

    });
</script>

</body>
</html>
