<header>
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Accueil<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Professional</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Children</a>
                </li>
            </ul>

        </div>
    </nav>
    </div>
</header>
<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur corporis dolore, dolorem ducimus ea eum ipsum odio officiis veritatis! Atque earum explicabo iure laborum, magni officia ratione tenetur! Esse.</p>
                <a href="#" class="btn btnD1">Plus d'informations</a>
            </div>
        </div>
    </div>
</section>
