<div class="wrapper">
    <header>
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">logo</div>
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Oui</a></li>
                    <li><a href="#">Non</a></li>
                    <li><a href="#">Allo</a></li>
                </ul>
            </div>
        </nav>
        <div class="title">
            <p>
                Texte pour expliquer le site
            </p>
        </div>
    </header>
</div>